//
//  development.xcconfig
//  cook-it
//
//  Created by Yves Songolo on 4/28/19.
//  Copyright © 2019 Yves Songolo. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
apikey = QGHa5k3d0KmshSN9f8uhv3XmY2sDp1MyvmRjsnYGp5ZAyfmisj
