<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210698160624-66416b8amm1m3i34tab1l00hd35gnv90.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210698160624-66416b8amm1m3i34tab1l00hd35gnv90</string>
	<key>API_KEY</key>
	<string>AIzaSyCoZNeSvgQTM2m2aJn__nGqoGg3ZsIgvPg</string>
	<key>GCM_SENDER_ID</key>
	<string>210698160624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yveslym.cook-it</string>
	<key>PROJECT_ID</key>
	<string>cookit-cdfcc</string>
	<key>STORAGE_BUCKET</key>
	<string>cookit-cdfcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210698160624:ios:1084eeba67f3b0ab</string>
	<key>DATABASE_URL</key>
	<string>https://cookit-cdfcc.firebaseio.com</string>
</dict>
</plist>